<div class="modal-content">
  <div class="modal-body">
    {{yield}}
  </div>
  <div class="modal-actions">
    {{#md-button class="primary" disabled=cancelDisabled onClick=(action "cancel")}}
      Cancel
    {{/md-button}}
    {{#md-button class="primary" disabled=confirmDisabled onClick=(action "confirm")}}
      Confirm
    {{/md-button}}
  </div>
</div>
