$navbar-height:                    50px !default;

$navbar-link-line-height:          $navbar-height !default;
$navbar-link-padding-v:            0 !default;
$navbar-link-padding-h:            8px !default;
$navbar-link-padding:              $navbar-link-padding-v $navbar-link-padding-h !default;

$navbar-link-font-weight:          400 !default;
$navbar-link-font-size:            13px !default;

$navbar-title-font-weight:         500 !default;
$navbar-title-font-size:           16px !default;

$navbar-title-padding:             $navbar-link-padding-v $navbar-link-padding-h $navbar-link-padding-v 0 !default;

$navbar-breakpoint:                $breakpoint-md !default;

$navbar-side-drawer-width:         240px !default;

$navbar-collapse-item-line-height: 20px !default;
$navbar-collapse-item-padding:     8px 16px !default;

$navbar-collapse-title-padding:    0 16px !default;

$navbar-collapse-btn-padding:      floor(($navbar-height - 14px) / 2) 16px;

.md-navbar {
  min-height: $navbar-height;

  @include clearfix();

  .navbar-nav, .navbar-header {
    float: left;
  }

  .navbar-title {
    text-decoration: none;
    line-height: $navbar-link-line-height;
    font-weight: $navbar-title-font-weight;
    font-size: $navbar-title-font-size;
    padding: $navbar-title-padding;
    display: block;
    float: left;
  }

  .navbar-nav {
    a {
      text-decoration: none;
      line-height: $navbar-link-line-height;
      font-weight: $navbar-link-font-weight;
      font-size: $navbar-link-font-size;
      padding: $navbar-link-padding;
      display: block;
      float: left;
    }

    &.right {
      float: right;
    }
  }
}
