<section class="doc-section" id="examples">
  <h2 class="doc-section-title">
    Examples
  </h2>

  <div class="doc-example">
    <div class="md-card">
      <div class="card-body">
        <div class="md-toolbar mrg-btm-16">
          <div class="toolbar-group">
            {{#md-button class="default"}}
              Default
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="primary"}}
              Primary
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="warning"}}
              Warning
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="danger"}}
              Danger
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="default" disabled=true}}
              Disabled
            {{/md-button}}
          </div>
        </div>
        <div class="md-toolbar">
          <div class="toolbar-group">
            {{#md-button class="default raised"}}
              Default
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="primary raised"}}
              Primary
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="warning raised"}}
              Warning
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="danger raised"}}
              Danger
            {{/md-button}}
          </div>
          <div class="toolbar-group">
            {{#md-button class="default raised" disabled=true}}
              Disabled
            {{/md-button}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
