<section class="doc-section">
  <h2 class="doc-section-title">
    Example
  </h2>

  <div class="doc-example">
    <div class="md-card">
      <div class="card-body">
        <div id="datepicker-calendar-demo">
          {{md-datepicker-calendar}}
        </div>
      </div>
    </div>
  </div>
</section>
