<section class="doc-section">
  <h2 class="doc-section-title">
    Examples
  </h2>

  <div class="doc-example">
    <div class="md-card">
      <div class="card-body">
        {{md-form-field label="Text" maxlength="64"
                        required=true
                        value=textField}}

        {{md-form-field label="Number" type="number"}}

        {{md-form-field label="Disabled" disabled=true}}
      </div>
    </div>
  </div>
</section>
