<div class="doc-section" id="usage">
  <h2 class="doc-section-title">
    Usage
  </h2>

{{#code-block lang="handlebars" file="templates/application.hbs"}}
&#123;&#123;#md-navbar title="Example"&#125;&#125;
  &#60;div class="navbar-nav"&#62;
    &#123;&#123;link-to "Link" "route"&#125;&#125;
    ...
  &#60;/div&#62;
  &#60;div class="navbar-nav right"&#62;
    &#123;&#123;link-to "Link" "route"&#125;&#125;
    ...
  &#60;/div&#62;
&#123;&#123;/md-navbar&#125;&#125;
{{/code-block}}

  <h3 class="doc-section-subtitle">
    Attributes
  </h3>

  <div class="md-card">
    {{#doc-table}}
      <tr>
        <td>collapsable</td>
        <td><code>Boolean</code></td>
        <td><code>true</code></td>
        <td>
          If true, the navbar contents will render inside an <code>md-collapse</code>
          component, causing it to collapse at a certain breakpoint
        </td>
      </tr>
      <tr>
        <td>title</td>
        <td><code>String</code></td>
        <td><code>null</code></td>
        <td>Used to render the title for the navbar</td>
      </tr>
      <tr>
        <td>titlePath</td>
        <td><code>String</code></td>
        <td><code>null</code></td>
        <td>If passed, the navbar title will created a link to the specified route</td>
      </tr>
      <tr>
        <td>fluid</td>
        <td><code>Boolean</code></td>
        <td><code>false</code></td>
        <td>
          Determines if the contents should be wrapped in an <code>.md-container</code>
          or <code>.md-container-fluid</code> classed div
        </td>
      </tr>
    {{/doc-table}}
  </div>

</div>

<section class="doc-section" id="example">
  <h2 class="doc-section-title">
    Examples
  </h2>

  <div class="doc-example">
    <div class="doc-example-body" style="height: 280px;">
      {{#md-navbar title="Example" class="doc-navbar" fluid=true}}
        <div class="navbar-nav">
          <a class="active">Link</a>
          <a>Link</a>
          <a>Link</a>
        </div>
        <div class="navbar-nav right">
          <a>Link</a>
        </div>
      {{/md-navbar}}
    </div>
  </div>
</section>

<section class="doc-section" id="sass">
  <h2 class="doc-section-title">
    SASS
  </h2>

  <h3 class="doc-section-subtitle">
    Variables
  </h3>

  <div class="md-card">
    {{doc-table headers="variable, default, description" list=sassVariables}}
  </div>

</section>
