<div class="doc-example">
  <div class="doc-example-body" style="height: 150px;">
    {{#md-navbar title="Example" class="doc-navbar" fluid=true}}
      <div class="navbar-nav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </div>
      <div class="navbar-nav right">
        <a href="#">Link</a>
      </div>
    {{/md-navbar}}
  </div>
</div>
