.md-radio {
  border-radius: 2px;
  line-height: 26px;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  cursor: pointer !important;
  margin: 8px 0;
  outline: none;

  padding-left: 18px;

  .radio-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;

    @include transform(translateY(-50%));

    &::before {
      border-radius: 50%;
      background: transparent;
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;

      @include transform(scale(0));
      @include transition(all 250ms ease);
    }
  }

  .md-label {
    margin-left: 10px;
  }

  .md-icon {
    display: block !important;

    &::before {
      border-radius: 50%;
      position: absolute;
      content: '';
      border: 2px solid #CCC;
      height: 18px;
      width: 18px;
      left: 0;
      top: 0;

      //@include transition(border-color 50ms);
    }
    &::after {
      border-radius: 50%;
      background: transparent;
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;

      @include transform(scale(0));
      @include transition(transform 250ms ease);
    }
  }

  &.checked {
    .md-icon {
      &::before {
        border-color: palette-color($alt-palette);
      }

      &::after {
        background: palette-color($alt-palette);


        @include transform(scale(.5));
      }
    }
  }

  &.disabled {
    cursor: not-allowed !important;

    .md-label {
      color: $black-light;
    }

    .md-icon {
      border-color: #eee;
    }
  }

  &.md-focused:not(.disabled) {
    .radio-container {
      &::before {
        background: rgba(#000, .08);

        @include transform(scale(1.8));
      }
    }

    &.checked {
      .radio-container::before {
        background: rgba(palette-color($alt-palette), .125);
      }
    }
  }

  .md-radio-ripple-container {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    height: 36px;
    width: 36px;
    left: -9px;
    top: -5px;
  }
}

.md-radio-group {
  .md-radio {
    margin-right: 20px;
  }
}
