.doc-example {
  border-radius: 2px;
  margin-bottom: 20px;
  background: #f1f1f1;
  position: relative;
  padding: 40px 20px 20px;
  border: 1px solid rgba(0,0,0,.075);

  &::after {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    position: absolute;
    content: "Example";
    color: #999;
    left: 10px;
    top: 10px;
  }

  .doc-example-body {
    background-color: #F9F9F9;
    min-height: 350px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    border: 1px solid $gray-border;

    &.pad-20 {
      padding: 20px;
    }
  }

  .md-card:last-child {
    margin-bottom: 0;
  }
}
