$body-bg-color:                  #F9F9F9;



$sidenav-collapse-breapoint:  749px;
$sidenav-width:               240px;

$sidenav-bg-color:            #ffffff;
$sidenav-shadow:              2px 0 4px rgba(#000, 0.125);
