@import "variables";
@import "materials";
@import "material-grid";

@import "sidenav";
@import "sidemenu";
@import "examples";
@import "code-blocks";
@import "navbar";
@import "tables";


.doc-container {
  padding: 0 $doc-gutter;
  width: 100%;
}

.app-container {

  @media screen and (min-width: $sidenav-collapse-breapoint) {
    padding-left: $sidenav-width;
  }
}

.doc-header {
  margin-bottom: 40px;
  background: palette-color($primary-palette);
  padding: 20px $doc-gutter;
  color: #ffffff;

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 2rem;
  }
}

.doc-section {

  margin-bottom: 20px;

  .doc-section-title {
    color: palette-color($primary-palette);
    margin: 0 0 40px;

    @include font-styles(headline, true);
  }

  .doc-section-subtitle {
    @include font-styles(title);
    margin: 20px 0 20px;
  }

  &:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,0.12);
    padding-top: 40px;
    margin-top: 40px;
  }
}

:not(pre) code {
  border-radius: 2px;
  font-family: inherit;
  font-weight: 500;
  background: #E9E9E9;
  font-size: 12px;
  padding: 2px 4px;
  color: palette-color($alt-palette);
}
