{{#md-sidenav}}
  <div class="sidenav-header">

  </div>

  <ul class="sidemenu-nav">
    <li>
      <a>Components</a>
      <div class="menu-collapse">
        <ul class="sidemenu-nested-nav">
          <li>{{link-to "Buttons" "comps.buttons"}}</li>
          <li>{{link-to "Buttons" "comps.buttons"}}</li>
          <li>{{link-to "Sidenav" "comps.sidenav"}}</li>
          <li>{{link-to "Navbar" "comps.navbar"}}</li>
        </ul>
      </div>
    </li>
    <li>
      <a>Services</a>
      <div class="menu-collapse">
        <ul class="sidemenu-nested-nav">

        </ul>
      </div>
    </li>
  </ul>
{{/md-sidenav}}
